.TableContainer {
  // width: 86%;
  margin: auto;
  height: 100%;
  // font-family: IRANSansFaNum;
}

.TableContainerTable {
  border-collapse: collapse;
  width: 100%;
  border: solid 2px #f1f0f5;
  border-radius: 8px;
  background-color: #fff;
  margin: 28px 0 118px;
  padding: 14px 0px;
}

.TableContainerHead {
  height: 47px;
  background-color: #ffffff;
  padding: 14px 14px;
  color: #8d928f;
}

.TableContainerTrName {
  padding-right: 10px;
}

.TableContainerBody {
  // height: 376px;
}

.TableContainerBodyTr {
  padding: 14px 0px;
  height: 47px !important;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  // line-height: 1.92;
  letter-spacing: normal;
  text-align: right;
  &:nth-child(odd) {
    background-color: #f1f0f5;
  }
  &:nth-child(even) {
    background-color: #ffffff;
  }
}
