.TableContainer {
  margin: auto;
  height: 423px;
}

.style {
  display: block;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background-color: white;
}

.TableContainerTable {
  border-collapse: collapse;
  width: 100%;
  border: solid 2px #f1f0f5;
  border-radius: 8px;
  background-color: #fff;
  margin: 28px 0 118px;
  // padding: 14px 0px;
}

.TableContainerHead {
  height: 47px;
  background-color: #ffffff;
  color: #8d928f;
}

.TableContainerTrName {
  height: 47px;
  display: flex;
  align-items: center;
  padding-right: 10px;
}

.TableContainerTrIcon {
  display: inline-flex;
}

.TableContainerTrIcon svg {
  margin: 4px;
  width: 14px;
  height: 13.8px;
}

.TableContainerTrIcon svg path {
  stroke: #2bbe5b !important;
  border: none;
}

.TableContainerBodyTr {
  height: 47px !important;
  font-size: 12px;
  letter-spacing: normal;
  text-align: right;
  &:nth-child(odd) {
    background-color: #f1f0f5;
  }
  &:nth-child(even) {
    background-color: #ffffff;
  }
}
