.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContainerNotification {
  position: relative;
}

.headerContainerNotificationIcon {
}

.headerContainerNotificationText {
  position: absolute;
  z-index: 1;
  bottom: 16px;
  left: 10px;
  width: 16px;
  height: 16px;
  border-radius: 20px;
  background-color: #ff4800;
  font-size: 10px;
  text-align: center;
  color: #fff;
}

.headerContainerSimCard {
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 39px;
  height: 22px;
  &Text {
    width: 18px;
    height: 14px;
    margin: 0 0 0 4px;
    font-family: IRANSansFaNum;
    font-size: 10px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
  }
}

.SimCardOn {
  background-color: #ddf4e6;
  svg {
    path {
      fill: #2bbe5b;
    }
  }
  .headerContainerSimCardText {
    color: #2bbe5b;
  }
}

.SimCardOff {
  background-color: #fee7e7;
  svg {
    path {
      fill: #ff4800;
    }
  }
  .headerContainerSimCardText {
    color: #ff4800;
  }
}
