@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/iranSans/eot/IRANSansWeb(FaNum).eot?") format("eot"),
    url("../fonts/iranSans/woff2/IRANSansWeb(FaNum).woff2") format("woff2"),
    url("../fonts/iranSans/woff/IRANSansWeb(FaNum).woff") format("woff"),
    url("../fonts/iranSans/ttf/IRANSansWeb(FaNum).ttf") format("truetype");
}

@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/iranSans/eot/IRANSansWeb(FaNum)_Light.eot?") format("eot"),
    url("../fonts/iranSans/woff2/IRANSansWeb(FaNum)_Light.woff2")
      format("woff2"),
    url("../fonts/iranSans/woff/IRANSansWeb(FaNum)_Light.woff") format("woff"),
    url("../fonts/iranSans/ttf/IRANSansWeb(FaNum)_Light.ttf") format("truetype");
}

@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/iranSans/eot/IRANSansWeb(FaNum)_UltraLight.eot?")
      format("eot"),
    url("../fonts/iranSans/woff2/IRANSansWeb(FaNum)_UltraLight.woff2")
      format("woff2"),
    url("../fonts/iranSans/woff/IRANSansWeb(FaNum)_UltraLight.woff")
      format("woff"),
    url("../fonts/iranSans/ttf/IRANSansWeb(FaNum)_UltraLight.ttf")
      format("truetype");
}

@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/iranSans/eot/IRANSansWeb(FaNum)_Medium.eot?") format("eot"),
    url("../fonts/iranSans/woff2/IRANSansWeb(FaNum)_Medium.woff2")
      format("woff2"),
    url("../fonts/iranSans/woff/IRANSansWeb(FaNum)_Medium.woff") format("woff"),
    url("../fonts/iranSans/ttf/IRANSansWeb(FaNum)_Medium.ttf")
      format("truetype");
}

@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/iranSans/eot/IRANSansWeb(FaNum)_Bold.eot?") format("eot"),
    url("../fonts/iranSans/woff2/IRANSansWeb(FaNum)_Bold.woff2") format("woff2"),
    url("../fonts/iranSans/woff/IRANSansWeb(FaNum)_Bold.woff") format("woff"),
    url("../fonts/iranSans/ttf/IRANSansWeb(FaNum)_Bold.ttf") format("truetype");
}

@font-face {
  font-family: iranSans;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/iranSans/eot/IRANSansWeb(FaNum)_Black.eot?") format("eot"),
    url("../fonts/iranSans/woff2/IRANSansWeb(FaNum)_Black.woff2")
      format("woff2"),
    url("../fonts/iranSans/woff/IRANSansWeb(FaNum)_Black.woff") format("woff"),
    url("../fonts/iranSans/ttf/IRANSansWeb(FaNum)_Black.ttf") format("truetype");
}

@font-face {
  font-family: iranSansEn;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/iranSansEn/eot/IRANSansWeb_Black.eot?") format("eot"),
    url("../fonts/iranSansEn/woff2/IRANSansWeb_Black.woff2") format("woff2"),
    url("../fonts/iranSansEn/woff/IRANSansWeb_Black.woff") format("woff"),
    url("../fonts/iranSansEn/ttf/IRANSansWeb_Black.ttf") format("truetype");
}
@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/roboto/eot/Roboto-Regular.eot?") format("eot"),
    url("../fonts/roboto/woff2/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/roboto/woff/Roboto-Regular.woff") format("woff"),
    url("../fonts/roboto/ttf/Roboto-Regular.ttf") format("truetype");
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/roboto/eot/Roboto-Light.eot?") format("eot"),
    url("../fonts/roboto/woff2/Roboto-Light.woff2") format("woff2"),
    url("../fonts/roboto/woff/Roboto-Light.woff") format("woff"),
    url("../fonts/roboto/ttf/Roboto-Light.ttf") format("truetype");
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/roboto/eot/Roboto-Thin.eot?") format("eot"),
    url("../fonts/roboto/woff2/Roboto-Thin.woff2") format("woff2"),
    url("../fonts/roboto/woff/Roboto-Thin.woff") format("woff"),
    url("../fonts/roboto/ttf/Roboto-Thin.ttf") format("truetype");
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/roboto/eot/Roboto-Medium.eot?") format("eot"),
    url("../fonts/roboto/woff2/Roboto-Medium.woff2") format("woff2"),
    url("../fonts/roboto/woff/Roboto-Medium.woff") format("woff"),
    url("../fonts/roboto/ttf/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/roboto/eot/Roboto-Bold.eot?") format("eot"),
    url("../fonts/roboto/woff2/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/roboto/woff/Roboto-Bold.woff") format("woff"),
    url("../fonts/roboto/ttf/Roboto-Bold.ttf") format("truetype");
}

@font-face {
  font-family: roboto;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/roboto/eot/Roboto-Black.eot?") format("eot"),
    url("../fonts/roboto/woff2/Roboto-Black.woff2") format("woff2"),
    url("../fonts/roboto/woff/Roboto-Black.woff") format("woff"),
    url("../fonts/roboto/ttf/Roboto-Black.ttf") format("truetype");
}

@font-face {
  font-family: iranSansX;
  font-style: normal;
  font-weight: normal;
  src: url("../fonts/iranSansX/eot/IRANSansXFaNum-Regular.eot?") format("eot"),
    url("../fonts/iranSansX/woff2/IRANSansXFaNum-Regular.woff2") format("woff2"),
    url("../fonts/iranSansX/woff/IRANSansXFaNum-Regular.woff") format("woff"),
    url("../fonts/iranSansX/ttf/IRANSansXFaNum-Regular.ttf") format("truetype");
}

@font-face {
  font-family: iranSansX;
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/iranSansX/eot/IRANSansXFaNum-Light.eot?") format("eot"),
    url("../fonts/iranSansX/woff2/IRANSansXFaNum-Light.woff2") format("woff2"),
    url("../fonts/iranSansX/woff/IRANSansXFaNum-Light.woff") format("woff"),
    url("../fonts/iranSansX/ttf/IRANSansXFaNum-Light.ttf") format("truetype");
}

@font-face {
  font-family: iranSansX;
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/iranSansX/eot/IRANSansXFaNum-UltraLight.eot?")
      format("eot"),
    url("../fonts/iranSansX/woff2/IRANSansXFaNum-UltraLight.woff2")
      format("woff2"),
    url("../fonts/iranSansX/woff/IRANSansXFaNum-UltraLight.woff") format("woff"),
    url("../fonts/iranSansX/ttf/IRANSansXFaNum-UltraLight.ttf")
      format("truetype");
}

@font-face {
  font-family: iranSansX;
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/iranSansX/eot/IRANSansXFaNum-Medium.eot?") format("eot"),
    url("../fonts/iranSansX/woff2/IRANSansXFaNum-Medium.woff2") format("woff2"),
    url("../fonts/iranSansX/woff/IRANSansXFaNum-Medium.woff") format("woff"),
    url("../fonts/iranSansX/ttf/IRANSansXFaNum-Medium.ttf") format("truetype");
}

@font-face {
  font-family: iranSansX;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/iranSansX/eot/IRANSansXFaNum-Bold.eot?") format("eot"),
    url("../fonts/iranSansX/woff2/IRANSansXFaNum-Bold.woff2") format("woff2"),
    url("../fonts/iranSansX/woff/IRANSansXFaNum-Bold.woff") format("woff"),
    url("../fonts/iranSansX/ttf/IRANSansXFaNum-Bold.ttf") format("truetype");
}

@font-face {
  font-family: iranSansX;
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/iranSansX/eot/IRANSansXFaNum-Black.eot?") format("eot"),
    url("../fonts/iranSansX/woff2/IRANSansXFaNum-Black.woff2") format("woff2"),
    url("../fonts/iranSansX/woff/IRANSansXFaNum-Black.woff") format("woff"),
    url("../fonts/iranSansX/ttf/IRANSansXFaNum-Black.ttf") format("truetype");
}

body {
  font-family: "iranSans" !important;
  direction: rtl !important;
  text-align: right;
}
