.headerContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  // padding: 24px;
}

.headerContainerText {
  font-size: 16px;
}

.headerContainerBtn {
  background-color: transparent;
  border: none;
  width: 24px;
  height: 24px;
}
